<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.my.lab">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message_mechanism.IndexActivity"
            android:label="@string/message_queue_index" />
        <activity
            android:name=".message_mechanism.IncreaseUISmoothnessActivity"
            android:label="@string/label_change_ui_smoothness" />
        <activity
            android:name=".message_mechanism.ChangeCallbackOrderActivity"
            android:label="@string/label_change_callback_order" />
        <activity
            android:name=".message_mechanism.TempForCallbackOrderTestActivity"
            android:label="@string/label_temp" />
        <activity
            android:name=".message_mechanism.SpeedupStartSpeedActivity"
            android:label="@string/speed_up_start_speed" />
        <activity android:name=".message_mechanism.TempForSpeedupTestActivity" />
        <activity
            android:name=".memory_leak.MemoryLeakIndexActivity"
            android:label="@string/lab_memory_leak" />
        <activity
            android:name=".wifip2p.WifiP2pTestActivity"
            android:label="@string/lab_wifip2p" />
        <activity
            android:name=".lan.LANTestActivity"
            android:label="@string/lab_lan" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="AndLab.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="7" />

        <activity android:name=".active_android.ActiveAndroidTestActivity"></activity>
    </application>

</manifest>